* {
  margin: 0;
  padding: 0; }

.box {
  margin: 5px; }

.center {
  justify-self: center;
  align-self: center; }

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 5fr 4fr;
  grid-template-areas: "header" "messages" "game" "chat";
  height: 100vh;
  width: 100vw;
  background-color: blue;
  color: white; }
  body .header {
    grid-area: header;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". header_Title time"; }
    body .header .header_Title {
      grid-area: header_Title;
      display: grid; }
    body .header .time {
      grid-area: time;
      display: grid;
      font-size: 3vh; }
      body .header .time .hero-circle {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        position: relative;
        border: 4px solid yellow;
        border-radius: 50%;
        background: url(../img/bg.png) 0 50; }
        body .header .time .hero-circle .hero-face {
          width: 100%;
          height: 100%; }
        body .header .time .hero-circle .hero-face:after {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 12px;
          height: 12px;
          margin: -6px 0 0 -6px;
          background: black;
          border-radius: 6px;
          content: "";
          display: block; }
        body .header .time .hero-circle .hero-hour {
          width: 0;
          height: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -4px 0 -4px -25%;
          padding: 4px 0 4px 25%;
          background: white;
          -webkit-transform-origin: 100% 50%;
          -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
          border-radius: 4px 0 0 4px; }
        body .header .time .hero-circle .hero-minute {
          width: 0;
          height: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -40% -3px 0;
          padding: 40% 3px 0;
          background: white;
          -webkit-transform-origin: 50% 100%;
          -ms-transform-origin: 50% 100;
          transform-origin: 50% 100%;
          border-radius: 3px 3px 0 0; }
        body .header .time .hero-circle .hero-second {
          width: 0;
          height: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -40% -1px 0 0;
          padding: 40% 1px 0;
          background: white;
          -webkit-transform-origin: 50% 100%;
          -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%; }
  body .messages {
    grid-area: messages;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: grid;
    color: black;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "top_Message" "bottom_Message"; }
    body .messages .top_Message {
      grid-area: top_Message;
      justify-self: center;
      align-self: center; }
    body .messages .bottom_Message {
      grid-area: bottom_Message;
      display: grid; }
      body .messages .bottom_Message #name_Form {
        grid-area: name_Form;
        display: inline-block; }
  body .game {
    display: grid;
    grid-area: game;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "player_One fight player_Two";
    grid-column-gap: 5px; }
    body .game .player_One {
      display: grid;
      margin: 10px 0;
      grid-area: player_One;
      border: 1px solid black;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 5fr 1fr;
      grid-template-areas: "player_One_Choice" " waiting" "player_One_Score"; }
      body .game .player_One .waiting {
        grid-area: waiting;
        display: grid;
        text-align: center; }
        body .game .player_One .waiting h1 {
          margin: 5px; }
      body .game .player_One .player_One_Choice {
        grid-area: player_One_Choice; }
      body .game .player_One .player_One_Score {
        grid-area: player_One_Score; }
    body .game .fight {
      display: grid;
      grid-area: fight;
      border: 1px solid black;
      margin: 10px 0; }
    body .game .player_Two {
      display: grid;
      margin: 10px 0;
      grid-area: player_Two;
      border: 1px solid black;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 5fr 1fr;
      grid-template-areas: "player_Two_Choice" "waiting" "player_Two_Score"; }
      body .game .player_Two .waiting {
        grid-area: waiting;
        display: grid;
        text-align: center; }
        body .game .player_Two .waiting h1 {
          margin: 5px; }
      body .game .player_Two .player_Two_Choice {
        grid-area: player_Two_Choice; }
      body .game .player_Two .player_Two_Score {
        grid-area: player_Two_Score; }
  body .chat {
    grid-area: chat;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas: "messages" "message_form";
    grid-row-gap: 5px;
    display: grid;
    color: black; }
    body .chat #messages {
      grid-area: messages;
      background-color: white;
      width: 100%;
      height: 100%;
      justify-self: center;
      align-self: center;
      overflow-y: auto; }
    body .chat #message_form {
      grid-area: message_form;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "message_Input add_Message"; }
      body .chat #message_form #message_Input {
        grid-area: message_Input; }
      body .chat #message_form #add_Message {
        grid-area: add_Message; }

@media only screen and (max-width: 740px) {
  body .header .time {
    font-size: 1vh;
    text-align: center; } }
