* {
  margin: 0;
  padding: 0; }
  * ::-webkit-scrollbar {
    display: none; }

.box {
  margin: 5px; }

.center {
  justify-self: center;
  align-self: center; }

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 7fr 2fr;
  grid-template-areas: "header" "main" "chat";
  height: 100vh;
  width: 100vw;
  color: white; }
  body .header {
    grid-area: header;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". header_Title time";
    background-color: black;
    text-shadow: 1px 1px; }
    body .header .header_Title {
      grid-area: header_Title;
      display: grid;
      color: black;
      font-size: 5vh; }
    body .header .header_Title :nth-child(1) {
      color: brown; }
    body .header .header_Title :nth-child(2) {
      color: white; }
    body .header .header_Title :nth-child(3) {
      color: silver; }
    body .header #time {
      grid-area: time;
      display: grid;
      font-size: 3vh;
      height: 100%;
      width: 70%; }
  body .main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "messages" "game";
    color: white;
    background: url("../Images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lobster', cursive; }
    body .main .messages {
      grid-area: messages;
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "top_Message" "bottom_Message"; }
      body .main .messages .top_Message {
        grid-area: top_Message;
        color: white;
        font-size: 3vh;
        justify-self: center;
        align-self: center; }
      body .main .messages .bottom_Message {
        grid-area: bottom_Message;
        display: grid;
        color: black;
        font-size: 3vh; }
        body .main .messages .bottom_Message #name_Form {
          grid-area: name_Form;
          display: inline-block; }
    body .main .game {
      display: grid;
      grid-area: game;
      height: 100%;
      width: 100%;
      font-size: 4vh;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "player_One fight player_Two";
      grid-column-gap: 5px; }
      body .main .game .player_One {
        display: grid;
        margin: 10px 0;
        grid-area: player_One;
        border: 1px solid black;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr 1fr;
        grid-template-areas: "player_One_Choice" " waiting" "player_One_Score"; }
        body .main .game .player_One .waiting {
          grid-area: waiting;
          display: grid;
          text-align: center; }
          body .main .game .player_One .waiting h1 {
            margin: 5px; }
        body .main .game .player_One .player_One_Choice {
          grid-area: player_One_Choice; }
        body .main .game .player_One .player_One_Score {
          grid-area: player_One_Score; }
      body .main .game .fight {
        display: grid;
        grid-area: fight;
        border: 1px solid black;
        margin: 10px 0; }
      body .main .game .player_Two {
        display: grid;
        margin: 10px 0;
        grid-area: player_Two;
        border: 1px solid black;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr 1fr;
        grid-template-areas: "player_Two_Choice" "waiting" "player_Two_Score"; }
        body .main .game .player_Two .waiting {
          grid-area: waiting;
          display: grid;
          text-align: center; }
          body .main .game .player_Two .waiting h1 {
            margin: 5px; }
        body .main .game .player_Two .player_Two_Choice {
          grid-area: player_Two_Choice; }
        body .main .game .player_Two .player_Two_Score {
          grid-area: player_Two_Score; }
  body .chat {
    grid-area: chat;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas: "messages" "message_form";
    grid-row-gap: 5px;
    display: grid;
    color: black;
    font-family: 'Lobster', cursive; }
    body .chat #messages {
      grid-area: messages;
      font-size: 2vh;
      background-color: rgba(245, 245, 220, 0.5);
      width: 100%;
      height: 100%;
      justify-self: center;
      align-self: center;
      overflow-y: auto; }
    body .chat #message_form {
      grid-area: message_form;
      display: grid;
      grid-template-columns: 5fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "message_Input add_Message"; }
      body .chat #message_form #message_Input {
        font-size: 2vh;
        grid-area: message_Input; }
      body .chat #message_form #add_Message {
        font-size: 2vh;
        grid-area: add_Message; }

@media only screen and (max-width: 740px) {
  body {
    height: 100%;
    width: 100%; }
    body .header {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr;
      grid-template-areas: "header_Title" "time"; }
      body .header .header_Title {
        font-size: 3.5vh; }
      body .header #time {
        font-size: 1vh;
        display: grid;
        height: 100%;
        width: 100%; }
    body .main {
      grid-area: main;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 5fr;
      grid-template-areas: "messages" "game";
      color: white;
      background: url("../Images/background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      font-family: 'Lobster', cursive; }
      body .main .messages {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "top_Message" "bottom_Message"; }
        body .main .messages .top_Message {
          text-align: center;
          font-size: 5vh;
          text-align: center;
          padding-top: 20px; }
        body .main .messages .bottom_Message {
          font-size: 3vh; }
      body .main .game {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "player_One" "fight" "player_Two"; }
        body .main .game .player_One {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 5fr 1fr;
          grid-template-areas: "player_One_Choice" " waiting" "player_One_Score"; }
          body .main .game .player_One .waiting h1 {
            margin: 5px; }
          body .main .game .player_One .player_One_Choice {
            grid-area: player_One_Choice; }
          body .main .game .player_One .player_One_Score {
            grid-area: player_One_Score; }
        body .main .game .player_Two {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 5fr 1fr;
          grid-template-areas: "player_Two_Choice" "waiting" "player_Two_Score"; }
          body .main .game .player_Two .waiting h1 {
            margin: 5px; }
          body .main .game .player_Two .player_Two_Choice {
            grid-area: player_Two_Choice; }
          body .main .game .player_Two .player_Two_Score {
            grid-area: player_Two_Score; }
    body .chat {
      grid-template-columns: 1fr;
      grid-template-rows: 5fr 1fr;
      grid-template-areas: "messages" "message_form"; }
      body .chat #messages {
        font-size: 3vh; }
      body .chat #message_form {
        grid-area: message_form;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "message_Input" "add_Message"; }
        body .chat #message_form #message_Input {
          grid-area: message_Input; }
        body .chat #message_form #add_Message {
          grid-area: add_Message; } }
