//Mixins
////Grid
@mixin grid ($columns, $rows, $area)
  grid-template-columns: $columns
  grid-template-rows: $rows
  grid-template-areas: $area

////Center Horizontally and Vertically Using grid
@mixin grid_Vertical_Horizontal_Center
  justify-self: center
  align-self: center

////Center Horizontally and Vertically Using Css transform
@mixin normal_Vertical_Horizontal_Center
  // Remember to declare parent as postion: relative
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

@mixin view_Height_Width
  height: 100vh
  width: 100vw


*
  margin: 0
  padding: 0
  ::-webkit-scrollbar
    display: none

.box
  border 1px solid black
  margin: 5px

.center
  @include grid_Vertical_Horizontal_Center

body
  display: grid
  @include grid($columns: 1fr, $rows: 2fr 7fr 2fr  , $area: "header" "main" "chat")
  height: 100vh
  width: 100vw
  color: white

  //header area
  .header
    grid-area: header
    height: 100%
    width: 100%
    border: 1px solid black
    display: grid
    @include grid($columns: 2fr 5fr 2fr , $rows: 1fr , $area: ". header_Title time")
    background-color: black
    text-shadow: 1px 1px
    .header_Title
      grid-area: header_Title
      display: grid
      color: black
      font-size: 5vh
    .header_Title :nth-child(1)
      color: brown
    .header_Title :nth-child(2)
      color: white
    .header_Title :nth-child(3)
      color: silver
    #time
      grid-area: time
      display: grid
      font-size: 3vh
      height: 100%
      width: 70%


  .main
    grid-area: main
    display: grid
    @include grid($columns: 1fr, $rows: 1fr 5fr , $area: "messages" "game")
    color: white
    background: url("../Images/background.jpg")
    background-repeat: no-repeat
    background-size: cover
    font-family: 'Lobster', cursive

    //messages area
    .messages
      grid-area: messages
      height: 100%
      width: 100%
      display: grid
      @include grid($columns: 1fr , $rows: 1fr 1fr , $area: "top_Message" "bottom_Message")
      .top_Message
        grid-area: top_Message
        color: white
        font-size: 3vh
        @include grid_Vertical_Horizontal_Center
      .bottom_Message
        grid-area: bottom_Message
        display: grid
        color: black
        font-size: 3vh
        #name_Form
          grid-area: name_Form
          display: inline-block

    // game play area
    .game
      display: grid
      grid-area: game
      height: 100%
      width: 100%
      font-size: 4vh
      @include grid($columns:1fr 1fr 1fr , $rows: 1fr, $area: "player_One fight player_Two")
      grid-column-gap: 5px
      .player_One
        display: grid
        margin: 10px 0
        grid-area: player_One
        border: 1px solid black
        @include grid($columns:1fr, $rows: 1fr 5fr 1fr, $area: "player_One_Choice" " waiting" "player_One_Score")
        .waiting
          grid-area: waiting
          display: grid
          text-align: center
          h1
            margin: 5px

        .player_One_Choice
          grid-area: player_One_Choice

        .player_One_Score
          grid-area: player_One_Score

      .fight
        display: grid
        grid-area: fight
        border: 1px solid black
        margin: 10px 0

      .player_Two
        display: grid
        margin: 10px 0
        grid-area: player_Two
        border: 1px solid black
        @include grid($columns:1fr, $rows: 1fr 5fr 1fr, $area:  "player_Two_Choice" "waiting" "player_Two_Score")
        .waiting
          grid-area: waiting
          display: grid
          text-align: center
          h1
            margin: 5px
        .player_Two_Choice
          grid-area: player_Two_Choice
        .player_Two_Score
            grid-area: player_Two_Score
  // chat area
  .chat
    grid-area: chat
    height: 100%
    width: 100%
    border: 1px solid black
    @include grid($columns:1fr , $rows: 5fr 1fr , $area: "messages" "message_form")
    grid-row-gap: 5px
    display: grid
    color: black
    font-family: 'Lobster', cursive
    #messages
      grid-area: messages
      font-size: 2vh
      background-color: rgba(245,245,220,0.5)
      width: 100%
      height: 100%
      @include grid_Vertical_Horizontal_Center
      overflow-y: auto
    #message_form
      grid-area: message_form
      display: grid
      @include grid($columns: 5fr 1fr , $rows: 1fr , $area: "message_Input add_Message")
      #message_Input
        font-size: 2vh
        grid-area: message_Input
      #add_Message
        font-size: 2vh
        grid-area: add_Message



@media only screen and (max-width: 740px)

  body
    height: 100%
    width: 100%
    //header area
    .header
      @include grid($columns: 1fr , $rows: 1fr 2fr, $area: "header_Title" "time")
      .header_Title
        font-size: 4vh
      #time
        font-size: 1vh
        display: grid
        height: 100%
        width: 100%


    .main
      grid-area: main
      display: grid
      @include grid($columns: 1fr, $rows: 1fr 5fr , $area: "messages" "game")
      color: white
      background: url("../Images/background.jpg")
      background-repeat: no-repeat
      background-size: cover
      font-family: 'Lobster', cursive

      //messages area
      .messages
        @include grid($columns: 1fr , $rows: 1fr 1fr , $area: "top_Message" "bottom_Message")
        .top_Message
          text-align: center
          font-size: 5vh
          text-align: center
          padding-top: 20px
        .bottom_Message
          font-size: 3vh
      // game play area
      .game
        @include grid($columns:1fr, $rows: 1fr 1fr 1fr, $area: "player_One" "fight" "player_Two")
        .player_One

          @include grid($columns:1fr, $rows: 1fr 5fr 1fr, $area: "player_One_Choice" " waiting" "player_One_Score")
          .waiting

            h1
              margin: 5px

          .player_One_Choice
            grid-area: player_One_Choice

          .player_One_Score
            grid-area: player_One_Score

        .fight

        .player_Two

          @include grid($columns:1fr, $rows: 1fr 5fr 1fr, $area:  "player_Two_Choice" "waiting" "player_Two_Score")
          .waiting
            h1
              margin: 5px
          .player_Two_Choice
            grid-area: player_Two_Choice
          .player_Two_Score
              grid-area: player_Two_Score
    // chat area
    .chat
      @include grid($columns:1fr , $rows: 5fr 1fr , $area: "messages" "message_form")
      #messages
        font-size: 3vh
      #message_form
        grid-area: message_form
        display: grid
        @include grid($columns: 1fr , $rows: 1fr 1fr , $area: "message_Input" "add_Message")
        #message_Input
          grid-area: message_Input
        #add_Message
          grid-area: add_Message
